.titulo1 {
    color: #0d1629c7;
    background-color: rgb(133, 81, 130);
    padding: 30px;
    font-size: large;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}


